body{
    background: #000;
}
a{
    color: white;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 36pt
}
a:link,  a:visited  {
    background-color:black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active{
    background-color:lightskyblue;
  }
  .active{
    background-color: lightskyblue;
  }
  